/* FONTS */
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.woff2") format("woff2"),
      url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.woff2") format("woff2"),
      url("../fonts/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-MediumItalic.woff2") format("woff2"),
      url("../fonts/Poppins-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.woff2") format("woff2"),
      url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.woff2") format("woff2"),
      url("../fonts/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-MediumItalic.woff2") format("woff2"),
      url("../fonts/Poppins-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}


/* CUSTOM PROPS */
:root {
  --body-bg: #fff;
  --light-bg: #eff1f7;
  --dark-bg: #232127;
  --text-color: #939aa8;
  --text-color-dark: #34313d;
  --accent-color: #2bd0d0;
  --accent-color-hover: #9ae3e3;
  --error-color: #f46363;
  --placeholder-color: var(--text-color);

}
::placeholder {
  color: var(--placeholder-color);
}
/* GLOBAL */
html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
  color: var(--text-color);
  background-color: var(--body-bg);
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  cursor: pointer;
}
*:focus {
  outline: 2px dashed var(--outline-color);
  outline-offset: 3px;
}
/* VISUALLY HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* CONTAINER */
.container {
  max-width: 1150px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* BUTTON */
.button {
  display: inline-block;
  border: 0;
  border-radius: 28px;
  padding: 14px 40px 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  color: #fff;
  background-color: var(--accent-color);
  text-align: center;
}

.button:hover {
  background-color: var(--accent-color-hover);
}

.button:active {
  opacity: 0.6;
}

.button--small {
  padding: 8px 24px;
  font-size: 15px;
  line-height: 22.5px;
}

.button--big {
  padding: 18px 40px 16px;
}

.button--rectangle {
  border-radius: 5px;
}

.button--rectangle-big {
  border-radius: 10px;
}

/* DARK MODE */
.dark-mode {
  --body-bg: #202c36;
  --element-bg: #2b3844;
  --text-color: #fff;
  --placeholder-color: var(--text-color);
}

/* MAIN */
.main-content {
  flex-grow: 1;
}

.site-header {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: var(--body-bg);
  font-weight: bold;
  line-height: normal;
}

.site-header__container {
  display: flex;
  align-items: center;
}

.site-header__logo {
  margin-right: 45px;
}

.logo {
  display: inline-block;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

.logo__img {
  display: block;
  width: 120px;
  height: 33px;
  object-fit: contain;
}
.site-header__sitenav {
  margin-right: auto;
}

.sitenav__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sitenav__item:not(:last-child) {
  margin-right: 30px;
}

.siteav__link {
  display: block;
  color: var(--text-color);
}

.siteav__link:hover {
  color: var(--text-color-dark);
}

.siteav__link:active {
  opacity: 0.6;
}

.site-header__auth {
  display: flex;
  align-items: center;
  margin-left: 45px;
}

.site-header__login-link {
  margin-right: 37px;
  color: var(--text-color);
}

.site-header__login-link:hover {
  color: var(--text-color-dark);
}

.site-header__login-link:active {
  opacity: 0.6;
}






/* RETINA BGS */
@media
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                -o-min-device-pixel-ratio: 2/1),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}
